<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<!--        <"http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.yi.spring.p21.vo"/>
    </typeAliases>
    <mappers>
<!--        <mapper resource="com.yi.spring.mappers" />-->
    </mappers>
</configuration>
